@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  font-size: 16px;
}

body {
  font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #dae0e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.date-picker-calendar-icon {
  padding-left: 5px;
}

.date-picker-calendar-icon button {
  display: flex;

  padding: 0px;
}

.date-picker-calendar-icon div {
  margin: 0px;
}
